[Unit]
Description=Restart hybridge user service after resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/etc/systemd/system-sleep/hybridge-restart.sh

[Install]
WantedBy=sleep.target
