[Unit]
Description=HyBridge Proxy (sing-box)
Wants=network-online.target
After=network.target

[Service]
Type=simple
ExecStart=/opt/hybridge/sing-box run -c %h/.config/hybridge/config/client.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
