[Unit]
Description=HyBridge Proxy (sing-box)
After=network.target

[Service]
Type=simple
ExecStart=/opt/hybridge/sing-box run -c %h/.config/hybridge/config/client.json
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
